/* Assign font variables */
$heading-font-family: 'Montserrat Subrayada', sans-serif; // Define a font family for headings and navigation buttons
$base-font-size: 16px;
$base-font-famly: 'Orbitron', sans-serif;


/* Assign color theme variables */
$white: #ffffff;
$black: #000000;
$light-gr: #e4e4e5;
$dark-gr: #1b1b1a;

/* Assign shadowing variables */
$txt-shadow-soft: 0.1rem 0.1rem 0.25rem rgb(0, 255, 0);