//// Assign font variables
$heading-font-family: 'Montserrat Subrayada', sans-serif; // Define a font family for headings and navigation buttons
$base-font-size: 16px;
$base-font-famly: monospace;
$majorMono:  'Major Mono Display', monospace;
$orbitron: 'Orbitron', sans-serif;

// Color and shadow variables
$black-green-gradient: 
    radial-gradient(circle at 0% 0%, rgb(0,0,20), rgba(0,52,0,0.1)),
    radial-gradient(circle at 100% 100%, rgb(0,52,0), rgb(0,0,0));
$red-black-green-gradient: 
    radial-gradient(circle at 50% 50%, rgba(0,0,0,1), rgba(0,0,0,0.5) 100%),
    radial-gradient(circle at 0% 0%, rgba(255,0,0,1), rgba(0,0,0,0.5) 67%),
    radial-gradient(circle at 100% 100%, rgba(0,255,0,1), rgba(0,0,0,0.5) 67%);
  
$primary-color: rgb(0, 0, 20);
$secondary-color: rgb(235, 235, 255);
$tertiary-color: rgba(0,255,0,1);

$gold-dark: rgb(255, 198, 10);
$gold-mid: rgb(237, 204, 94);
$gold-bright: rgb(238, 223, 176);
$red-60: rgb(60, 0, 0);

$shadow: 0 0 0.25rem 0.25rem $tertiary-color;
$dark-shadow: 0.25rem 0.25rem 0.25rem $primary-color;
$platinum-shadow: 0 0 0.25rem 0.25rem $secondary-color;
$txt-glow: 0 0 0.55rem $tertiary-color;
$gold-glow: 0 0 6rem 0.25rem rgb(254, 221, 1); 

// Grid variables
$gridColumnsM: "[page-columns-left] 7.5% [main-content-left] 85% [main-content-right] 7.5% [page-columns-right]";
$gridColumnsLG: "[page-columns-left] 12.5% [navbar-left] 5% [main-content-left] 65% [main-content-right] 5% [navbar-right] 12.5% [page-columns-right]";
$gridColumnsXLG: "[page-columns-left] 22.5% [navbar-left] 5% [main-content-left] 45% [main-content-right] 5% [navbar-right] 22.5% [page-columns-right]";
$gridRows: "[navbar-top] auto [navbar-bottom] repeat(auto-fill, minmax(auto, 1fr))";
$burkinabeGridRows: "[hero-top] 50vh [main-content-top intro-top] 25vh [hero-bottom] 1fr [intro-bottom essay-top] 1fr [essay-bottom bib-top] 1fr [bib-bottom main-content-bottom]"
// $gridRows: "[hero-top] 5% [logo-top] 10% [logo-bottom navbar-top] 2rem [navbar-bottom] auto [main-content-top] 25% [hero-bottom] 25% [main-content-bottom] ";



