//// Assign font variables
$heading-font-family: 'Montserrat Subrayada', sans-serif; // Define a font family for headings and navigation buttons
$base-font-size: 16px;
$base-font-famly: monospace;
$majorMono:  'Major Mono Display', monospace;
$orbitron: 'Orbitron', sans-serif;

// Color and shadow variables
$black-green-gradient: 
    radial-gradient(circle at 0% 0%, rgb(0,0,20), rgba(0,52,0,0.1)),
    radial-gradient(circle at 100% 100%, rgb(0,52,0), rgb(0,0,0));
$red-black-green-gradient: 
    radial-gradient(circle at 50% 50%, rgba(0,0,0,1), rgba(0,0,0,0.5) 100%),
    radial-gradient(circle at 0% 0%, rgba(255,0,0,1), rgba(0,0,0,0.5) 67%),
    radial-gradient(circle at 100% 100%, rgba(0,255,0,1), rgba(0,0,0,0.5) 67%);
  
$primary-color: rgb(0, 0, 20);
$secondary-color: rgb(235, 235, 255);
$tertiary-color: rgba(0,255,0,1);

$gold-dark: rgb(255, 198, 10);
$gold-mid: rgb(237, 204, 94);
$gold-bright: rgb(238, 223, 176);

$shadow: 0 0 0.25rem 0.25rem $tertiary-color;
$dark-shadow: 0.25rem 0.25rem 0.25rem $primary-color;
$platinum-shadow: 0 0 0.25rem 0.25rem $secondary-color;
$txt-glow: 0 0 0.55rem $tertiary-color;
$gold-glow: 0 0 6rem 0.25rem rgb(255, 198, 10), 0 0 3rem 0.25rem rgb(237, 204, 94), 0 0 1rem 0.25rem rgb(238, 223, 176); 

// Grid variables
$gridColumnsM: "[page-columns-start] auto [main-content-start] 85% [main-content-end] auto [page-columns-end]";
$gridColumnsLG: "[page-columns-start] auto [navbar-column-start] 5% [main-content-start] 65% [main-content-end] 5% [navbar-column-end] auto [page-columns-end]";
$gridColumnsXLG: "[page-columns-start] auto [navbar-column-start] 5% [main-content-start] 45% [main-content-end] 5% [navbar-column-end] auto [page-columns-end]";
// $gridRows: ;



