#navigationToggle {
    width: 2rem;
    aspect-ratio: 1 / 1;
    background-image: url('../images/svg/icons/buttons/hamburger-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;

    @media (min-width: 769px) {
        display: none;
    }
}

#navigationToggle:hover {
    transform: scale(1.15, 1.15);
    transition: transform 0.15s ease-in-out;
}

.btn {
    width: clamp(1.5rem, 2.5vw, 2rem);
}

.dropdown-container button {
    margin: 0.5rem 0 0.5rem 0;
}