#introLogo {
    width: clamp(calc($base-font-size * 3), 9vw, 12rem);
    z-index: 10;

    @media (min-width: 897px) {
        margin: 0 0 0 5rem;
    }
}

#navbarLogo {
    width: clamp(2rem, 5vw, 8rem);
}

.icon {
    width: 8rem;
    height: 8rem;
    padding: 1rem;
}

.project-thumbnail {
    width: 100%;
    height: 25%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.dropdown:hover {
    transform: scale(110%, 110%);
    transition: transform 0.1s ease-in-out;
}

#burkinabeFlag {
    width: 100%;
    height: 35vw;
    object-fit: cover;
    z-index: -10;
    position: relative;
    grid-column: page-columns-left / page-columns-right;
    // grid-row: hero-top / hero-bottom;
}

#burkinabeJ3Logo {
    width: min(10rem, 15vw);
    aspect-ratio: 1 / 1;
    position: absolute;
}

#burkinabeJ3Logo:hover {
    box-shadow: 0 0 6rem $red-60;
    background-color: rgba(60, 0, 0, 0.5);
    border-radius: 5% 42.5% 50% 50%;
    padding: 1rem;
}

// Floated essay photos
#burkinabePrehistory {
    width: 50%;
    float: left;
    margin: 1rem 1rem 1rem 0;
}

#burkinabeColonialRelations {
    width: 50%;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

#thomasSankara {
    float: left;
    margin-bottom: 0.5rem;
    shape-outside: polygon(0% 100%, 0% 0%, 33% 0%, 33% 70%, 55% 68%, 75% 100%);
}

#burkinabeSalafists {
    float: right;
    width: 50%;
    margin: 1rem 0 1rem 1rem;
}