.intro-logo {
    width: clamp(calc($base-font-size * 3), 9vw, 12rem);
}

.icon {
    width: 8rem;
    height: 8rem;
    padding: 1rem;

    @media (pointer: coarse) {
        animation: mobileGlow 1s ease-in-out infinite alternate;
      }
}

.project-thumbnail {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.dropdown:hover {
    transform: scale(110%, 110%);
    transition: transform 0.1s ease-in-out;
}

.hero {
    width: 50%;
    grid-column: 1 / 4;
}








//// Page-specific elements

// Conflict in Burkina Faso
#burkinabePrehistory {
    width: 50%;
    float: left;
    margin: 1rem 1rem 1rem 0;
}

#burkinabeColonialRelations {
    width: 50%;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

#thomasSankara {
    float: left;
    margin-bottom: 0.5rem;
    shape-outside: polygon(0% 100%, 0% 0%, 33% 0%, 33% 70%, 55% 68%, 75% 100%);
}

#burkinabeSalafists {
    float: right;
    width: 50%;
    margin: 1rem 0 1rem 1rem;
}