#introLogo {
    width: clamp(calc($base-font-size * 3), 9vw, 12rem);
    z-index: 10;

    @media (min-width: 897px) {
        margin: 0 0 0 5rem;
    }
}

#navbarLogo {
    width: clamp(2rem, 5vw, 8rem);
}

.btn {
    width: clamp(1.5rem, 2.5vw, 2rem);
}

#profileHero {
    width: 100%;
    aspect-ratio: 4 / 2;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

#navigationToggle {
    width: 2rem;
    aspect-ratio: 1 / 1;
    background-image: url('../images/svg/icons/buttons/hamburger-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;

    @media (min-width: 769px) {
        display: none;
    }
}

#navigationToggle:hover {
    transform: scale(1.15, 1.15);
    transition: transform 0.15s ease-in-out;
}

.dropdown-container button {
    margin: 0.5rem 0 0.5rem 0;
}

.drop-shadow {
    filter: drop-shadow(0 0 0.25rem $color0);
}

.icon {
    width: 8rem;
    aspect-ratio: 1/1;
    padding: 1rem;
}

.project-thumbnail {
    width: 100%;
    height: 25%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

#dogsHero {
    object-position: 0% 68%;
}

#bikesHero {
    object-position: 0% 55%;
}

.dropdown:hover {
    transform: scale(110%, 110%);
    transition: transform 0.1s ease-in-out;
}

#burkinabeFlag {
    width: 100%;
    height: 35vw;
    object-fit: cover;
    position: relative;
    grid-column: page-columns-left / page-columns-right;
    grid-row: 1;
}

#burkinabeJ3Logo {
    width: min(10rem, 15vw);
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: 10;
}

#burkinabeJ3Logo:hover {
    box-shadow: 0 0 6rem $red-60;
    background-color: rgba(60, 0, 0, 0.5);
    border-radius: 50% 50% 50% 50%;
    padding: 1rem;
}

// Floated essay photos
.die-back {
    opacity: 0;
    transform: scale(0, 0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.grow-forth {
    opacity: 1;
    transform: scale(1, 1);
}

#burkinabePrehistory {
    width: 50%;
    float: left;
    margin: 1rem 1rem 1rem 0;
}

#burkinabeColonialRelations {
    width: 50%;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

#thomasSankara {
    float: left;
    margin-bottom: 0.5rem;
    shape-outside: polygon(0% 100%, 0% 0%, 33% 0%, 33% 70%, 55% 68%, 75% 100%);
}

#burkinabeSalafists {
    float: right;
    width: 50%;
    margin: 1rem 0 1rem 1rem;
}

svg {
    .color0 {
        fill:$color0;
    }

    .color2 {
        fill:$color2;
    }

    .off-black0 {
        fill: $black0;
    }

    .off-black1 {
        fill:$black1;
    }

    .off-black2 {
        fill:$black2;
    }

    .off-black3 {
        fill:$black3;
    }

    .off-black4 {
        fill:$black4;
    }

    .off-white0 {
        fill:$white0;
    }

    .stroke-color0 {
        stroke:$color0;
    }

    .stroke-black0 {
        stroke:$black0;
    }

    .stop-color0 {
        stop-color:$color0;
    }

    .stop-color1 {
        stop-color: $color1;
    }

    .stop-color4 {
        stop-color:$color4; 
    }

    .stop-black0 {
        stop-color:$black0;
    }

    .stop-black1 {
        stop-color:$black1;
    }

    .stop-black2 {
        stop-color:$black2;
    }

    .stop-black4 {
        stop-color:$black4;
    }

    .stop-white0 {
        stop-color:$white0;
    }

    .stop-white1 {
        stop-color:$white1;
    }
}

body#index[data-lang="fr"] {
    svg {
        .color0 {
            fill:$fr-color0;
        }
    
        .color2 {
            fill:$fr-color2;
        }
    
        .off-black0 {
            fill: $fr-black0;
        }
    
        .off-black1 {
            fill:$fr-black1;
        }
    
        .off-black2 {
            fill:$fr-black2;
        }
    
        .off-black3 {
            fill:$fr-black3;
        }
    
        .off-black4 {
            fill:$fr-black4;
        }
    
        .off-white0 {
            fill:$fr-white0;
        }
    
        .stroke-color0 {
            stroke:$fr-color0;
        }
    
        .stroke-black0 {
            stroke:$fr-black0;
        }
    
        .stop-color0 {
            stop-color:$fr-color0;
        }
    
        .stop-color1 {
            stop-color: $fr-color1;
        }
    
        .stop-color4 {
            stop-color:$fr-color4; 
        }
    
        .stop-black0 {
            stop-color:$fr-black0;
        }
    
        .stop-black1 {
            stop-color:$fr-black1;
        }
    
        .stop-black2 {
            stop-color:$fr-black2;
        }
    
        .stop-black4 {
            stop-color:$fr-black4;
        }
    
        .stop-white0 {
            stop-color:$fr-white0;
        }
    
        .stop-white1 {
            stop-color:$fr-white1;
        }
    }
}

body#index[data-lang="zh"] {
    svg {
        .color0 {
            fill:$zh-color0;
        }
    
        .color2 {
            fill:$zh-color2;
        }
    
        .off-black0 {
            fill: $zh-black0;
        }
    
        .off-black1 {
            fill:$zh-black1;
        }
    
        .off-black2 {
            fill:$zh-black2;
        }
    
        .off-black3 {
            fill:$zh-black3;
        }
    
        .off-black4 {
            fill:$zh-black4;
        }
    
        .off-white0 {
            fill:$zh-white0;
        }
    
        .stroke-color0 {
            stroke:$zh-color0;
        }
    
        .stroke-black0 {
            stroke:$zh-black0;
        }
    
        .stop-color0 {
            stop-color:$zh-color0;
        }
    
        .stop-color1 {
            stop-color: $zh-color1;
        }
    
        .stop-color4 {
            stop-color:$zh-color4; 
        }
    
        .stop-black0 {
            stop-color:$zh-black0;
        }
    
        .stop-black1 {
            stop-color:$zh-black1;
        }
    
        .stop-black2 {
            stop-color:$zh-black2;
        }
    
        .stop-black4 {
            stop-color:$zh-black4;
        }
    
        .stop-white0 {
            stop-color:$zh-white0;
        }
    
        .stop-white1 {
            stop-color:$zh-white1;
        }
    }
}