body#index[data-lang='fr'] {
    background: $black-blue-gradient;
    background-attachment: fixed;
    background-size: cover;
    color: $fr-black0;

    #introInfo {
        color: $fr-white0;
    }

    #tagline {
        @media (max-width: 384px) {
            font-size: $base-font-size;
        }
    }

    #langSelect:hover {
        box-shadow: $fr-shadow;
    }

    #mobileHeader {
        // background-color: rgb(0, 20, 0);

        @media (min-width: 769px) {
            box-shadow: none;
            background-color: transparent;
        }
    }

    #navigationToggle {
        background-image: url('../images/svg/icons/buttons/hamburger-icon-fr.svg');
    }

    #navBarItems li:hover {
        text-shadow: $fr-txt-glow;
    }

    .frosted {
        background-color: $fr-white0;
    }

    .shadow {
        box-shadow: $fr-shadow;
    }

    .drop-shadow {
        filter: drop-shadow(0 0 0.25rem $fr-color0);
    }

    .txt-glow {
        text-shadow: $fr-txt-glow;
    }

    .mobile-glow {
        @media (pointer: coarse) and (hover: none) {
            animation: frMobileGlow 1s ease-in-out infinite alternate;
        }
    }

    .course {
        text-shadow: $fr-txt-glow;
        background-color: $fr-black0;
    }

    .tooltip {
        color: $fr-white0;
    }
}

body#index[data-lang='zh'] {    
    font-family: $zh-base-font;
    background: $black-red-gradient;
    background-attachment: fixed;
    background-size: cover;
    color: $zh-black0;

    #introInfo {
        color: $zh-white0;
    }

    #langSelect:hover {
        box-shadow: $zh-shadow;
    }

    #mobileHeader {
        // background-color: rgb(20, 20, 0);

        @media (min-width: 769px) {
            box-shadow: none;
            background-color: transparent;
        }
    }

    #navigationToggle {
        background-image: url('../images/svg/icons/buttons/hamburger-icon-zh.svg');
    }

    #navBarItems li:hover {
        text-shadow: $zh-txt-glow;
    }

    .frosted {
        background-color: $zh-white0;
    }

    .shadow {
        box-shadow: $zh-shadow;
    }

    .drop-shadow {
        filter: drop-shadow(0 0 0.25rem $zh-color0);
    }

    .heading {
        font-family: $zh-heading-font;
    }

    .txt-glow {
        text-shadow: $zh-txt-glow;
    }

    .mobile-glow {
        @media (pointer: coarse) and (hover: none) {
            animation: zhMobileGlow 1s ease-in-out infinite alternate;
        }
    }

    .course {
        text-shadow: $zh-txt-glow;
        background-color: $zh-black0;
    }

    .tooltip {
        color: $zh-white0;
    }
}

