body {
    color: $primary-color;
}

.txt-shadow {
    text-shadow: $txt-shadow;
}

.heading {
    font-family: $heading-font-family;
}

.fs-4 {
    font-size: clamp(calc($base-font-size * 2.5), 6vw, 4rem);
}

.fs-2 {
    font-size: clamp(calc($base-font-size * 1.25), 3vw, 2rem);
}

.fs-1 {
    font-size: clamp(calc($base-font-size * 0.625), 1.5vw, 1rem);
}

.fs-sm {
    font-size: clamp(calc($base-font-size * 0.5), 0.72vw, 0.72rem);
    font-weight: bolder;
}

.base-font-family {
    font-family: $base-font-famly;
}

