.txt-color {
    color: $primary-color;
}

.base-font-family {
    font-family: $base-font-famly;
    letter-spacing: -1px;
    font-weight: 600;
}

.heading {
    font-family: $heading-font-family;
}

.fs-4 {
    font-size: clamp(calc($base-font-size * 2.5), 6vw, 3rem);
}

.fs-2 {
    font-size: clamp(calc($base-font-size * 1.25), 3vw, 1.5rem);
}

.fs-1 {
    font-size: clamp(calc($base-font-size * 1), 2.4vw, 1.2rem);
}

.fs-sm {
    font-size: clamp(calc($base-font-size * 0.8), 1.92vw, 0.96rem);
    font-weight: bolder;
}

.txt-glow {
    text-shadow: $txt-glow;
}

.centered {
    text-align: center;
}

.red-60 {
    color: $red-60;
}



#essay p:first-of-type::first-letter {
    float: left;
    top: 0;
    font-size: 6rem;
    font-weight: 900;
    margin-right: 0.25rem;
    line-height: 0.75;

}

#essay p {
    margin: 0.5rem 0 0.5rem
}

.indent {
    text-indent: 1.5rem;
}

.hanging-indent {
    text-indent: -1.5rem;
    padding-left: 1.5rem;
}

.orbitron {
    font-family: $orbitron;
}

.major-mono {
    font-family: $majorMono;
}

.project-card-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}