.txt-color-dark {
    color: $light-gr;
}

.txt-shadow-soft {
    text-shadow: $txt-shadow-soft;
}

.heading {
    font-family: $heading-font-family;
}

.fs-4 {
    font-size: clamp(calc($base-font-size * 2.5), 6vw, 4rem);
}

.fs-2 {
    font-size: clamp(calc($base-font-size * 1.25), 3vw, 2rem);
}

.base-font-family {
    font-family: $base-font-famly;
}

/* Style small text for things like dates */
.fs-sm {
    font-size: clamp(calc($base-font-size * 0.5), 0.5vw, 0.75rem);
    font-weight: bolder;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    border: 0;
}
