@media (max-width: 768px) {
    #contact {
        flex-direction: column;
    }
}

#contact {
    justify-content: space-between;
    gap: 1rem;
}

#findMeElsewhere {
    flex-direction: column;
    gap: 1rem;
}

#otherLinks {
    gap: 1rem;
}

#litReviewBibliography li {
    margin: 0.5rem 0 0 0;
} 