#intro {
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-column: page-columns-left / page-columns-right;

    @media (max-width: 896px) {
        flex-direction: column;
    }
}

#introInfo {
    color: $secondary-color;
    text-align: center;
    

    @media (min-width: 897px) {
        margin: 0 0 0 1rem;
        text-align: left;
    }
}

#tagline {
    justify-content: center;
    gap: 0.75rem;

    @media(min-width: 897px) {
        justify-content: flex-start;
    }
}

/* #tagline[data-lang="fr"] {
    @media (max-width: 384px) {
        font-size: $base-font-size;
    }
} */

#mobileHeader {
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: flex-end;
    z-index: 200;

    @media (max-width: 768px) {
        position: sticky;
        width: 100vw;
        top: 0;
        align-items: center;
        background-color: $primary-color;
        grid-column: page-columns-left / page-columns-right;
    }

    @media (min-width: 769px) {
        box-shadow: none;
        grid-column: navbar-left / navbar-right;
    }
}

#langSelect {
    position: relative;
    cursor: pointer;
}

#langSelect:hover {
    box-shadow: $shadow;
}

#langOptions {
    display: block;
    width: 105%;
    top: 2rem;
    right: 0;
    text-align: right;
    padding: 0.5rem;
    position: absolute;
    // z-index: 200;

    @media (max-width: 768px) {
        right: -2.5%;
        text-align: center;
    }
}

#langOptions a {
    display: block;
}

#langOptions a:hover {
    text-shadow: $txt-glow;
}

#navBar {
    overflow-x: hidden;

    @media (max-width: 768px) {
        position: fixed;
        inset: 0 0 0 45%;
        z-index: 10;
        background-color: rgba(235, 235, 255, 0.8);
        
        @supports (backdrop-filter: blur(0.75rem)) {
            backdrop-filter: blur(0.75rem);
        };
    }

    @media  (min-width: 769px) {
        grid-column: navbar-left / navbar-right;
        // grid-row: navbar-top / nav-bar-bottom;
    }
}

#navBar[data-visibility="false"] {
    @media (max-width: 768px) {
        transform: translateX(105%);
        transition: transform 0.3s ease-in-out;
    }
}

#navBar[data-visibility="true"] {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

#navBarItems {
    @media (max-width: 768px) {
        flex-direction: column;
        padding-block: 5rem;
    }
}

#navBarItems li:hover {
    text-shadow: $txt-glow;
}

#essayIntro h2, #essayIntro p {
    margin: 1rem 0 0 0;
}

